{"filter":false,"title":"django.config","tooltip":"/.ebextensions/django.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":108,"scrollleft":0,"selection":{"start":{"row":13,"column":0},"end":{"row":13,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1775885214985,"hash":"af3c07db15bb2d9569deff5ca313b2b6f4d7eb86"}